<div id="contenedor" >
    <p id="titulo">Login</p>
    <form >
        <p id="texto">Usuario</p>
        <input type="text"id="controls"  placeholder="Usuario" value="" formControlName="first_name">
        <p id="texto">Contraseña</p>
        <input type="text"id="controls"  placeholder="Constraseña" value="" formControlName="last_name">
        <br>
        <div id="grid">
            <button id="">Save</button>
            <button id="boton" [routerLink]="['/']">Cancelar</button>
        </div>
    </form>
